[user]
	name = Peter Henry
	email = me@peterhenry.net
[core]
	eol = lf
	autocrlf = input
[push]
	default = simple
[merge]
	renormalize = true
[diff]
	tool = meld
[alias]
	gwip   = "!f() { git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify -m '--wip-- [skip ci]'; }; f"
	gunwip = "!f() { git log -n 1 | grep -q -c -- '--wip--' && git reset HEAD~1; }; f"
[pull]
	ff = only
