URxvt*loginShell: true
URxvt*transparent: true
URxvt*shading: 20
URxvt*background: Black
URxvt*foreground: White
URxvt*scrollBar: false
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: false
URxvt*scrollstyle: plain
URxvt*secondaryScroll: true

URxvt*font: xft:Inconsolata:pixelsize=15

URxvt*urgentOnBell: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! "Arc-Dark" from https://github.com/DaveDavenport/rofi-themes
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:00383c4a, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:002d303b, #cc6666, argb:e52d303b, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:002d303b, #b5bd68, argb:e42d303b, #8c9440, #f9f9f9
! "Color scheme window" Set from: File
rofi.color-window:                   argb:f22d303b, #7c8389, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                solid


! Base16 Gruvbox dark, hard
! Scheme: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

#define base00 #1d2021
#define base01 #3c3836
#define base02 #504945
#define base03 #665c54
#define base04 #bdae93
#define base05 #d5c4a1
#define base06 #ebdbb2
#define base07 #fbf1c7
#define base08 #fb4934
#define base09 #fe8019
#define base0A #fabd2f
#define base0B #b8bb26
#define base0C #8ec07c
#define base0D #83a598
#define base0E #d3869b
#define base0F #d65d0e

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07