[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
# BindsTo=xorg.service
# After=xorg.service

[Service]
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
# means children are NOT managed by systemd, which is correct here
KillMode=process

[Install]
WantedBy=graphical.target
